form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
}

fc-button,
fc-small-number {
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  &:last-child {
    margin-right: 0;
  }
}
