<form novalidate #form="ngForm">
  <button type="button" (click)="restart$.next()">
    Restart
  </button>
  <button type="button" (click)="showPattern$.next()">
    Show Pattern
  </button>
  <fc-small-number [(ngModel)]="model.size" name="size" [min]="2" [max]="5">
    Size
  </fc-small-number>
  <fc-small-number [(ngModel)]="model.difficulty" name="difficulty" [min]="3" [max]="100">
    Difficulty
  </fc-small-number>
  <fc-small-number [(ngModel)]="model.timing" name="timing" [min]="0.2" [max]="2" [step]="0.1">
    Timing
  </fc-small-number>
</form>