<button type="button" (click)="menuService.showPattern()">Show Pattern</button>
<form [formGroup]="menuService.form">
  <span>
    <label>Size</label>
    <mc-small-number
      formControlName="size"
      [min]="2"
      [max]="5"
    ></mc-small-number>
  </span>
  <span>
    <label>Difficulty</label>
    <mc-small-number
      formControlName="difficulty"
      [min]="3"
      [max]="100"
    ></mc-small-number>
  </span>
  <span>
    <label>Timing</label>
    <mc-small-number
      formControlName="timing"
      [min]="0.2"
      [max]="3"
      [step]="0.1"
    ></mc-small-number>
  </span>
</form>
