#game {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0.5em;
  display: grid;
  grid-gap: 0.5em;

  button {
    position: relative;
    border-width: medium;

    user-select: none;

    &.active {
      animation-duration: 2s;
      animation-name: spin;
      animation-iteration-count: 1;
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:active,
    &:focus,
    &:hover {
      border-width: thick;
      opacity: 0.9;
      &:not(:disabled) {
        box-shadow: 0 0 0.5em black;
      }
    }

    div {
      transition-property: all;
      transition-timing-function: ease;
      transition-duration: 1s;
      opacity: 0.6;
      img {
        position: absolute;
        width: 90%;
        height: 90%;
        top: 5%;
        bottom: 5%;
        right: 5%;
        left: 5%;
      }
    }
  }
}

mc-form {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
}

@keyframes spin {
  100% {
    filter: invert(100%);
    transform: rotateX(360deg);
  }
}
